.board-row {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 150px;
}
.square {
  cursor: pointer;
  border: 1px solid gray;
  width: 100%;
  padding: 30px 40px 40px 70px;
}
.board-container {
  margin-top: 100px;
}
.winner {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
